.win-pivot .win-pivot-surface {
	height: 75vh;
}

.win-pivot .win-pivot-viewport {
	padding-top: 0px;
	margin-top: 98px;
}

.win-pivot-item .win-pivot-item-content {
	padding: 0px;
}

.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.hubpage .hub {
	margin-top: 4px;
	height: 100%;
}

	.hubpage .hub .win-hub-surface {
		height: 100%;
	}

	.hubpage .hub .hero {
		-ms-high-contrast-adjust: none;
		background-image: url(/images/gray.png);
		background-size: cover;
		margin-left: -80px;
		margin-right: 80px;
		padding: 0;
		width: 780px;
	}

		.hubpage .hub .hero .win-hub-section-header {
			display: none;
		}

	.hubpage .hub .section .lvcontenthost {
	}

	.hubpage .hub .section {
        margin-left: 20px;
		margin-right: 0px;
	}
	
		.hubpage .hub .section .itemslist {
			height: 71vh;
			margin-top: -5px;
			margin-right: 20px;
		}

		.hubpage .hub .section .win-container {
			margin-bottom: 10px;
			margin-left: 0px;
			margin-right: 0px;
		}

		.hubpage .hub .section .templatecontainer {
			display: -ms-grid;
			-ms-grid-columns: 100px 1fr;
			min-height: 100px;
            width: 100%;
		}

			.hubpage .hub .section .templatecontainer .itemcontainer {
				-ms-grid-column: 2;
				margin-left: 15px;
			}

				.hubpage .hub .section .templatecontainer .itemcontainer img {
					max-width: 173px;
					width: 100%;
					height: auto;
					-ms-grid-column: 1;
				}

		.hubpage .hub .section .win-item {
			height: 144px;
			width: 100%;
		}

			.hubpage .hub .section .win-item .itemtitle {
				margin-bottom: 3px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.hubpage .hub .section .win-item img {
				height: 144px;
				width: 144px;
				margin-right: 12px;
			}


	/*.hubpage .hub .section {
		margin-left: 20px;
		margin-right: 0px;
	}*/
		
.label-extralarge {
	font-size: 28pt;
	line-height: 30pt;
}

.label-medium {
	font-size: 15pt;
	line-height: 17.5pt;
}

.label-mediummid {
	font-size: 15pt;
	line-height: 17.5pt;
}

@media screen and (orientation: landscape) {
	.win-pivot .win-pivot-surface {
		height: 60vh;
	}
}

.logo {
    height:100px;
    background-size: cover;
    background-position: center center;
    -ms-grid-column: 1;
    padding: 0;
}

.sectionLVpage .itemcontainer {
    max-height: 100px;
    
}

.sectionLVpage .itemcontainer h3 {
    font-size: 12pt;
    line-height: 1.5em;
}

.sectionLVpage .itemcontainer h4 {
    font-size: 10pt;
    padding-top: 5px;
    opacity: .8;
}

.sectionLVpage .win-container {
    max-height: 100px;
}

.section .sectionLVpage .win-itemsblock .win-container {
    margin: 0;
    border-bottom: 1px solid gray;
}

.sectionLVpage .itemcontainer .titleDiv {
    height: 3.5em;
    line-height: 1.5em;
    overflow: hidden;
}

.sectionLVpage .feedStatus .feedLoadingProgress {
    margin-top: 0;
    margin-bottom: 0;
}

.fragment .sectionLVpage .feedStatus {
    height: 20px;
    margin-top: -10px;
}

.hide {
    display: none;
}

.sectionDonatepage {
    font-size: 18px;
}

.sectionDonatepage p:first-of-type {
    margin-top: 0px;
}
.sectionDonatepage p.incentive {
    text-align: center;
    font-size: 1.1em;
}
.sectionDonatepage button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.6em;
    padding: 5px 15px;
    background-color: white;
    color: black;
}

.sectionDonatepage blockquote {
    font-style: italic;
}

.sectionDonatepage blockquote>footer {
    margin-left: 20px;
    font-weight: bold;
}

.sectionDonatepage .quotes {
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    margin-top: 10px;
}

.hubpage header[role='banner'] h1{
    background-color: transparent;
    background-image: url('/images/mainlogo.png');
    background-position: 20px 10px;
    background-size: 185px auto;
    background-repeat: no-repeat;
    min-width: 190px;
    padding: 0;
    margin: 0;
    height: 60px;
}