html {
    overflow: auto;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}

.itempage .content {
	margin-left: 20px;
	margin-right: 20px;
}

.fragment header[role=banner] {
    -ms-grid-rows: 3fr;
    height: auto;
    margin-left: 20px;
}
    .fragment header[role=banner] .titlearea {
        white-space: normal;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .itempage.fragment header[role=banner] h2.titlearea .pagetitle {
        line-height: 1.2;
        /*font-weight: bold;*/
    }

    .fragment header[role=banner] .titlearea .pagetitle {
        
    }

    .fragment header[role=banner] a, h3.author {
        text-decoration: none;
        color: gray;
        font-size: 15pt;
    }
    .fragment header[role=banner] a {

    }

    /*.itempage.fragment header[role=banner] h3.author {
        color: gray;
    }*/

    .fragment header[role=banner] .date {
        padding-top: 10px;
        font-size: 12pt;
    }

    .itempage.fragment section.content[role=main] .articleContent {
        font-size: 16pt;
        margin-bottom:10px;

    }
.video {
    font-size: 16pt;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

video {
    width: 100%;
}

.audio {
    font-size: 16pt;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

audio {
    width: 100%;
}

.btnDownload {
    margin: 25px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

        