html {
    overflow: auto;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}

.itempage .content {
	margin-left: 20px;
	margin-right: 20px;
}

.fragment header[role=banner] {
    -ms-grid-rows: 3fr;
    height: auto;
    margin-left: 20px;
}
    .fragment header[role=banner] .titlearea {
        white-space: normal;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .itempage.fragment header[role=banner] h2.titlearea .pagetitle {
        line-height: 1.2;
        font-weight: bold;
    }

    .fragment header[role=banner] .titlearea .pagetitle {
        
    }

    .fragment header[role=banner] a {
        text-decoration: none;
    }

    .itempage.fragment header[role=banner] h3.author {
        color: gray;
    }

    .fragment header[role=banner] .date {
        padding-top: 10px;
        font-size: 12pt;
    }

    .itempage.fragment section[role=main] .content>.articleContent {
        font-size: 16pt;
        margin-bottom:10px;

    }

        